body {
    text-align: center;
    color: darkblue;
    background-color: orange;
}
.title {
    font-size: 4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: .1em .1em white;
}
.clockContainer{
    border: 1em solid black;
    border-radius: 30%;
}
.clockContainer div{
    display: inline-block;
    font-size: 2em;
}
.buttonContainer{
    margin-top: 1rem;
}
.buttonContainer div{
    display: inline-block;
}
.buttonContainer button{
    font-size: 3rem;
    text-shadow: .1em .1em black;
    border: .2rem solid yellow;
}
.startBtn {
    border-radius: 50%;
    background-color: green;
    color: lightgreen;
    margin-right: 3rem;
    font-family: cursive;
    height: 9rem;
    width: 9rem;
    box-shadow: -.51em 0em white;
}
.stopBtn {
    border-radius: 18%;
    background-color: darkred;
    color: red;
    margin-left: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 9rem;
    width: 9rem;
    box-shadow: .51em 0em black;
}